@font-face {
  src: url(../fonts/bugslife.ttf);
  font-family: Bugs-Life;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

strong, h1, h2, h3, h4, h5 {
  color: #c10100;
  font-weight: bold;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 60px;
  position: relative;
  border-bottom: 4px solid black;
  margin-bottom: 20px;
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: -5;
  display: block;
  border-bottom: 4px solid #c10100;
}

.title h1, .logo {
  display: inline-block;
}

.title {
  font-family: Bugs-life;
  float: left;
  text-shadow: 1px 1px 1px black;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url(../img/bug.png);
  background-size: 30px 30px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  position: relative;
}

.logo:after {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/crosshairs.png);
  background-size: 60px 60px;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-repeat: no-repeat;
}

.title h1 {
  font-size: 50px;
  margin: 0;
}

nav {
  height: 60px;
  position: absolute;
  right: 0;
  bottom: -15px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 60px;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 30px;
  vertical-align: bottom;
}

nav ul li a {
  color: #c10100;
  font-family: Bugs-life;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

nav ul li a:hover:before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/bug.png);
  background-size: 30px 30px;
  display: block;
  position: absolute;
  top: 0;
  left: -35px;
}
#content {
  width: 100%;
}

.column-container {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.image-column {
  width: 55%;
  float: left;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}

.details-column {
  width: 40%;
  margin: 0;
  padding: 0;
  float: right;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}

.featured-img {
  width: 100%;
}

.wrapper {
  margin-top: 28px;
  background: white;
  border: 1px solid black;
  position: relative;
  z-index: 90;
  width: 100%;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: -1px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #c10100;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c10100), to(#9a0000));
  background-image: -webkit-linear-gradient(top, #c10100, #9a0000);
  background-image: -moz-linear-gradient(top, #c10100, #9a0000);
  background-image: -ms-linear-gradient(top, #c10100, #9a0000);
  background-image: -o-linear-gradient(top, #c10100, #9a0000);
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.alt-img {
  width: 30%;
  margin: 0;
  padding: 0;
}

img.alt-img:nth-of-type(2) {
  margin: 0 4%;
}

.order-form {
  float: left;
  width: 45%;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}

.order-form h5 {
  margin-top: 0;
}

.order-form h3 {
  margin-bottom: 0;
}

.group {
  margin-bottom: 20px;
}

.color {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
}

.selected-color {
  border: 2px solid #c10100;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

select, input {
  display: block;
  width: 300px;
}

select:focus {
  outline: #c10100;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="submit"] {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #c10100;
  color: #fff;
  font-size: 24px;
  width: 300px;
  border: none;
  border-radius: 6px;
}

input[type="submit"]:hover {
  background-color: #9a0000;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:active {
  background-color: #600000;
}

.related-products {
  float: right;
  width: 45%;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}

.row a {
  display: block;
}

.row a {
  max-width: 40%;
  max-height: 200px;
  margin-bottom: 20px;
}

.related {
  max-width: 100%;
  max-height: 200px;
}

.row a:nth-child(even) {
  float: left;
  clear: left;
}

.row a:nth-child(odd) {
  float: right;
  clear: right;
}

.star {
  background-image: url(../img/star.png);
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-position: 0 0;
  display: inline-block;
}

table {
  text-align: right;
  float: right;
  width: 300px;
}

td, th {
  padding: 5px;
}

.reviews {
  border-bottom: 1px solid black;
}

.copyright {
  float: right;
  margin: 20px 0;
  font-size: 12px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 300;
  top: 0;
  left: 0;
  display: none;
}

.photo-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  max-width: 50%;
  max-height: 80%;
  display: none;
}

.backdrop:after {
  content: "Click anywhere to dismiss";
  color: #fff;
  position: fixed;
  bottom: 5%;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}

@media screen and (max-width: 855px) {
  body {
    text-align: center;
  }

  .container {
    width: 90%;
    margin-top: 10px;
  }
  nav {
    display: block;
    position: static;
    height: 40px;
  }

  .title {
    float: none;
  }

  header {
    height: auto;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li:last-child {
    margin-left: 60px;
  }

  .details-column {
    float: none;
    width: 100%;
  }

  .image-column {
    float: none;
    width: 100%;
  }

  .order-form {
    float: none;
    width: 100%;
    text-align: center;
  }

  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 50%;
    margin: 0 auto;
  }

  .related-products {
    width: 100%;
  }

  table {
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 515px) {
  header {
    /*border: none;*/
  }

  header:after {
    border:none;
  }
}
